.section-header.big
  Scratchpad
  
.container-fluid
  You can use this coding area to do &ldquo;scratch work&rdquo; that
  isn't part of any of your courses or assignments. The code that you
  write here is automatically saved.
  
  
  /= link_to icon_tag('code-fork') + ' Save as personal repository...', 'javascript:void(0)', id: 'save-as-personal', class: 'btn btn-block'
