.container
  .row
    .span6
      %h2.page-header Already have an account?
      = render partial: 'sessions/sign_in'
    .span6
      %h2.page-header New user?
      = render partial: 'registrations/new'
