*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets/*
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

*.rdb
/public/m
/public/uploads/tmp
/storage/*
/work/*

# Ignore the entity relationship diagram
erd.pdf

# Ignore the database configuration
/config/database.yml

# Ignore all vim backup and swap files
*~
*.swp

# Ignore test coverage reports
/coverage/

# Ignore node modules
node_modules
