%ul.breadcrumb
  %li
    = link_to @assignment.course.institution.display_name, @assignment.course.institution
    %span.divider /
  %li
    = link_to @assignment.course.number, @assignment.course
    %span.divider /
  %li.active
    = @assignment.short_name
    (editing)

= render 'form'
