.jumbo-title
  .container
    %h1
      Pythy
      %small the online Python learning environment

.container
  .row
    .span6
      %h2 Already signed up?
      %p
        Sign in below.
        = link_to '(Forgot your password?)', new_password_path(resource_name)
      = render partial: 'sessions/sign_in'

    .span6
      %h2 New user?
      %p Create your account below.
      = render partial: 'registrations/new'