%ul.breadcrumb
  %li.active
    Users

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.span4 E-mail
      %th.span4 Full Name
      %th.span3 Role
      %th.span1= icon_tag('cog')
  %tbody
    = render @users
