.container
  .row
    .span7
      .btn-header-container.clearfix
        %h3.pull-left.slim.btn-line-height Assignments
        - if @offerings.any? { |o| o.role_for_user(current_user).can_manage_assignments? }
          .pull-right
            = link_to icon_tag('plus') + ' New...', new_course_offering_assignment_offering_path(@offerings.first), class: 'btn', remote: true

      #assignments
        = render(partial: 'home/instructor_assignment', collection: @assignments) || render(partial: 'home/no_assignments')

    .span5
      .btn-header-container.clearfix
        %h3.pull-left.slim.btn-line-height Instructor Examples
        - if @offerings.any? { |o| o.role_for_user(current_user).can_manage_assignments? }
          .pull-right
            = link_to icon_tag('plus') + ' New...', new_course_offering_example_repository_path(@offerings.first), class: 'btn', remote: true

      %table.examples
        %tbody#example_repositories
          = render(@examples) || render(partial: 'example_repositories/empty')
