.assignment-tile.btn{ href: assignment_url(instructor_assignment) }
  .assignment-short-name><= instructor_assignment.short_name
  .assignment-long-name><= instructor_assignment.long_name
  .assignment-options<
    = link_to 'View code', code_path(instructor_assignment.assignment_reference_repository)
