.jumbo-title
  .container
    .row
      .span8
        %h1.slim
          Courses
        %p.lead

.container
  .row
    .span6
      - if @courses.empty?
        %h2 Welcome to Pythy!
        %p.lead
          You are not currently enrolled in any courses on Pythy.
          To get started, you can try to find your course listed by
          selecting your school/organization and then the term in which
          your course is being held to the right.
        %p.lead
          If you do not find your course listed, your instructor may have
          not yet set it up, or he or she may be choosing to enroll students
          manually.
      - else
        %h2 Your current courses
        = render partial: 'self_enrollment/course_list', locals: { courses: @courses, link_to_offerings: true }

    .span6
      %h2 Enroll in a new course
      = render partial: 'self_enrollment/select_organization', locals: { organizations: @organization_list }
