.span3
  %h4 Starter Files
  = render partial: 'file_list', locals: { path: 'starter' }
.span3
  %h4 Reference Tests
  = render partial: 'file_list', locals: { path: 'test' }
.span3
  %h4 Solution
  = render partial: 'file_list', locals: { path: 'solution' }
