%ul.breadcrumb
  %li.active
    Global Roles
  %li.pull-right
    = link_to 'New...', new_global_role_path

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - @global_roles.each do |role|
      %tr
        %td= link_to role.name, role
        %td
          = link_to 'Edit', edit_global_role_path(role)
          |
          = link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }
