%li{ class: ('active' if current_page.last?) }
  - if current_page.last?
    %span= raw(t 'views.pagination.next')
  - else
    = link_to raw(t 'views.pagination.next'), url, rel: 'next', remote: remote
