%h2 Are You Supposed to Be Here?
%div
  %p
    Unfortunately, you've ended up on a page that you are not
    authorized to view.  If you think this
    is in error, please let the developers know!
    
  %p Sorry!

  = link_to 'Home', root_url, class: 'btn btn-primary'
