- bc = ActiveSupport::BacktraceCleaner.new
- bc.add_filter   { |line| line.gsub(Rails.root.to_s, '') }
- bc.add_silencer { |line| line =~ /\/gems\// }
- backtrace = bc.clean($!.backtrace)

%h2 We've Got a Problem ...
%p
  Unfortunately, something went wrong.
  There are a lot of possible reasons why this might have happened, 
  but we've logged the problem so the developers can look at it.

%p Sorry!

= link_to 'Home', root_url, class: 'btn btn-primary'

- if current_user && current_user.global_role.can_edit_system_configuration
  %hr
  %h4 Exception
  %pre.alert.alert-danger
    = $!.message
  %h4 Backtrace
  %pre{ style: 'overflow: auto; white-space: nowrap' }
    - backtrace.each do |frame|
      = frame
      %br
