.pull-right
  = link_to icon_tag('pencil') + ' Edit', edit_environment_path(@environment), class: 'btn'

%h2
  = @environment.name

%h3 Preamble
%p
  The Python statements below are inserted at the top of any code executed
  by Pythy.
%pre= @environment.preamble
