%ul.breadcrumb
  %li
    = link_to @institution.display_name, @institution
    %span.divider /
  %li.active
    Courses
  %li.pull-right
    = link_to 'New...', new_institution_course_path(@institution)

= render partial: 'courses/index', locals: { courses: @courses }
