%ul.breadcrumb
  %li
    = link_to @organization.display_name, @organization
    %span.divider /
  %li.active
    Courses
  %li.pull-right
    = link_to 'New...', new_organization_course_path(@organization)

= render partial: 'courses/index', locals: { courses: @courses }
