%ul.breadcrumb
  %li
    = link_to @course_offering.course.organization.display_name, @course_offering.course.organization
    %span.divider /
  %li
    = link_to @course_offering.course.number, course_path(@course_offering.course)
    %span.divider /
  %li.active
    = @course_offering.crn
    (editing)

= render 'form'
