.pull-right
  = link_to icon_tag('plus') + ' New...', new_course_course_offering_path(@course), class: 'btn'

= render partial: 'course_offerings/index', locals: { course_offerings: @grouped_offerings }
