%ul.breadcrumb
  %li
    = link_to @course.institution.display_name, @course.institution
    %span.divider /
  %li
    = link_to @course.number, course_path(@course)
    %span.divider /
  %li.active
    (new offering)

= render 'form'
