#choose_environment_modal.modal.hide{ data: { backdrop: 'static' } }
  .modal-header
    %h3 Choose Python Environment

  .modal-body.has-typeahead
    %p
      Select the Python environment that you want to use for this
      scratchpad. You can change it at any time later on if you wish.

    = select_tag :environment, options_from_collection_for_select(Environment.all, :id, :name, environment_id), prompt: '(none)', data: { width: '100%' }

  .modal-footer
    = button_tag 'Set Environment', id: 'set-environment', class: 'btn btn-primary', data: { dismiss: 'modal' }
