#console.dark-panel
  #console-toggle
    #console-toggle-text
      = icon_tag('desktop')
      Program Output
  #console-container.container
    #console-content
      %span.muted
        You haven't run your code yet. When you do, this console is where
        its output will be displayed and where you will be asked to enter
        any input that your program requests.
