- # TODO refactor the logic here; we should put this in helpers that
- # indicate whether the sidebar should be visible or not.
- unless @repository.is_a?(ExampleRepository) && cannot?(:manage, @repository)
  #sidebar.dark-panel
    #sidebar-toggle
      #sidebar-toggle-text
        - if @repository.is_a? AssignmentRepository
          = icon_tag('bar-chart')
          Past Results
        - else
          = icon_tag('user')
          Users
    #sidebar-content
      - if can? :manage, @repository
        %h4 Users currently accessing
        %ul#accessing-users.unstyled

      - if @repository.is_a? AssignmentRepository
        %h4 Most Recent Results
        %p
          %small
            The list below shows the results of the 10 most recent checks
            you made of your code. To see the detailed feedback for that
            check, click the icon to the right of the score bar.
        #check-results
          = render partial: 'check_results', locals: { repository: @repository }
