$initialconsoleheight: 180px;

body.code {
  overflow: hidden;
  padding-bottom: 0;
}

#code-area {
  position: absolute;
  left: 0;
  top: 39px;
  right: 0;
  bottom: $initialconsoleheight;

  #code-loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 64px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1010;
  }

  .CodeMirror {
    height: 100%;

    .CodeMirror-lines {
      line-height: 17px;
    }

    .error-widget {
      display: inline-block;
      padding: 3px 6px;
      margin: 4px;
      background-color: rgb(167, 0, 13);
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      font-family: "Source Sans Pro", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 13px;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
    }

    .error-widget:before {
      content: '\F057'; // icon-remove-sign
      font-family: FontAwesome;
      font-weight: 300;
      padding-right: 6px;
    }
  }
}

.active-line {
  background-color: #def;
}

.error-marker {
  color: #f00;
}

.empty {
  background-color: none;
}

#save-bar {
  position: absolute;
  top: 35px;
  right: 0;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 8px;  
  z-index: 1009;
  -webkit-box-shadow: -1px 1px 4px rgba(0,0,0,.2);
     -moz-box-shadow: -1px 1px 4px rgba(0,0,0,.2);
          box-shadow: -1px 1px 4px rgba(0,0,0,.2);
          
  cursor: default;

  table tr td {
    text-align: left;
    width: 40px;
  }
  
  table tr td:first-child {
    text-align: center;
    width: 16px;
  }
}

#action-bar {
  position: absolute;
  top: 80px;
  right: 0;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;    
  z-index: 1009;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);
     -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);
          box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);

  .btn-group-parent {
    margin-top: 6px;

    a {
      width: 20px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

#dock {
  position: absolute;
  left: 0;
  right: 0;
  height: $initialconsoleheight;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ccc;

  .nav-tabs {
    height: 100%;
    margin-right: 0;
    background-color: #666;
    border-right: 0;

    li {
      padding: 0;
      margin: 0;

      a {
        border-left: none;
        border-right: none;
        min-width: 0;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(0,0,0,.15);
        border-top: 1px solid rgba(255,255,225,.14);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: white;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

        &:hover {
          margin: 0;
          background-color: #444;
          border-top-color: rgba(0,0,0,.15);
          border-left: none;
          border-right: none;
        }

        i {
          font-size: 15px;
        }
      }

      &.active > a {
        background-color: #444;
        border-top-color: rgba(0,0,0,.15);
        border-left: none;
        border-right: none;
      }
    }
  }

  .tab-content {
    height: 100%;

    .tab-pane {
      height: 100%;
      overflow: auto;
      padding: 0 15px;
    }
  }
}

#console {
  background-color: #222;
  color: #eee;
}

#console-content {
  margin: 10px 0;

  .line {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas,
      "DejaVu Sans Mono",  "Bitstream Vera Sans Mono",
      "Courier New", monospace;
    white-space: pre;
    font-size: 14px;
    line-height: 17px;
  }

  input[type='text'] {
    border: none;
    outline: none;
    box-shadow: none;
    color: #5ab7dd;
    padding: 0 0;
    margin: -2px 0 0 0;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Source Code Pro", Menlo, Monaco, Consolas,
      "DejaVu Sans Mono",  "Bitstream Vera Sans Mono",
      "Courier New", monospace;
  }

  .text-info {
    padding: 0;
  }

  .line.error {
    color: red;
  }
}

#history.tab-pane {
  padding: 0 !important;

  .next-page {
    text-align: center;
  }
}

#history-table {
  margin-bottom: 0;

  .relative-date {
    color: #666;
    font-size: 12px;
  }

  tr {
    td:first-child {
      padding-left: 15px;
      width: 50%;
    }

    td:last-child {
      padding-right: 15px;
      width: 50%;
    }
  }

  tr:first-child td {
    border-style: none;
  }
}

.outcomes-header {
  margin-bottom: 6px;
}
