$initialconsoleheight: 120px;
$consoleresizebarheight: 10px;
$sidedockwidth: 280px;

body.code {
  overflow: hidden;
  padding-bottom: 0;
}

#code-area {
  position: absolute;
  left: 0;
  top: 39px;
  right: $sidedockwidth;
  bottom: $initialconsoleheight + $consoleresizebarheight;

  #code-loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 64px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1010;
  }

  .CodeMirror {
    height: 100%;

    .CodeMirror-lines {
      line-height: 17px;
    }

    .error-widget {
      display: inline-block;
      padding: 3px 6px;
      margin: 4px;
      background-color: rgb(167, 0, 13);
      color: white;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      font-family: "Source Sans Pro", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 13px;
      box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
    }

    .error-widget:before {
      content: '\F057'; // fa-times-circle
      font-family: FontAwesome;
      font-weight: 300;
      padding-right: 6px;
    }
  }
}

.active-line {
  background-color: #def;
}

.error-marker {
  color: #f00;
}

.empty {
  background-color: none;
}

#save-bar {
  position: absolute;
  top: 35px;
  right: 0;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 8px;  
  z-index: 1009;
  -webkit-box-shadow: -1px 1px 4px rgba(0,0,0,.2);
     -moz-box-shadow: -1px 1px 4px rgba(0,0,0,.2);
          box-shadow: -1px 1px 4px rgba(0,0,0,.2);
          
  cursor: default;

  table tr td {
    text-align: left;
    width: 40px;
  }
  
  table tr td:first-child {
    text-align: center;
    width: 16px;
  }
}

#action-bar {
  position: absolute;
  top: 80px;
  right: 0;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;    
  z-index: 1009;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);
     -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);
          box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);

  .btn-group-parent {
    margin-top: 6px;

    a {
      width: 20px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

#console-resize-bar {
  position: absolute;
  left: 0;
  right: $sidedockwidth;
  background-color: #f7f7f7;
  height: $consoleresizebarheight;
  bottom: $initialconsoleheight;
  cursor: row-resize;
  border-top: 1px solid #ddd;
  
  div {
    margin-top: -3px; 
    line-height: 0px; 
    color: #bbb; 
    text-weight: bold; 
    font-size: 28px;
  }
}

#dock {
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0px;
  width: $sidedockwidth;
  background-color: #f7f7f7;
  border-left: 1px solid #ddd;
  overflow: auto;
  overflow-x: hidden;
  
  .span {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;    
  }
  
  .btn {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #top-tools {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
  
  .section-header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    
    &.big {
      font-size: 18px;
    }
  }
}

#console {
  position: absolute;
  left: 0;
  right: $sidedockwidth;
  height: $initialconsoleheight;
  bottom: 0;
  background-color: #222;
  color: #eee;
  overflow: scroll;
}

#console-content {
  margin: 10px 10px;

  .line {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas,
      "DejaVu Sans Mono",  "Bitstream Vera Sans Mono",
      "Courier New", monospace;
    white-space: pre;
    font-size: 14px;
    line-height: 17px;
  }

  input[type='text'] {
    border: none;
    outline: none;
    box-shadow: none;
    color: #5ab7dd;
    padding: 0 0;
    margin: -2px 0 0 0;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Source Code Pro", Menlo, Monaco, Consolas,
      "DejaVu Sans Mono",  "Bitstream Vera Sans Mono",
      "Courier New", monospace;
  }

  .text-info {
    padding: 0;
  }

  .line.error {
    color: red;
  }
}

#history-table {
  margin-bottom: 0;
  
  th {
    font-size: 14px;
  }

  .relative-date {
    color: #666;
    font-size: 10px;
  }

  tr {
    font-size: 12px;
    
    td:first-child {
      padding-left: 15px;
      width: 40%;
    }

    td:last-child {
      padding-right: 15px;
      width: 50%;
    }
    
    td.next-page {      
      text-align: center;
    }
  }
  
  tr:first-child {
    td {
      border-top: 0px;
    }    
  }

}

.outcomes-header {
  margin-bottom: 6px;
}

#mediacomp-color-swatch {
  border: 1px solid black;
  width: 64px;
  height: 64px;
}

#mediacomp-colorpicker-sidebar {
  margin-left: 10px;
}

#mediacomp-soundtool {

  width: 1000px;

  #container {
    overflow: scroll;
    position: relative;
    cursor: pointer;
  }

  #line-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #selection {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #soundtool {
    width: 800;
  }

  .modal-footer{
    text-align: center;
  }

  .modal-header {
    cursor: move;
  }
}
