body {
  overflow: hidden;
}

#file-bar {
  margin: 0 -10px;

  .nav {
    margin-bottom: 0;
  }
}

#code-area {
  margin: 0 -10px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  .CodeMirror {
    height: 100%;

    .error-widget {
      display: inline-block;
      padding: 3px 6px;
      margin: 4px;
      background-color: #f99;
      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 11px;
      border: 2px solid red;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    }
  }
}

table td p.hint {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

.syntax-highlight{
  background-color: yellow;
}

.active-line {
  background-color: #def;
}

.error-marker {
  color: #f00;
}

.empty {
  background-color: none;
}

.dark-panel #sidebar-toggle {
  background-color: rgba(0, 0, 0, 0.9);
}

#sidebar {
  position: fixed;
  top: 38px;
  bottom: 0;
  left: 70%;
  width: 30%;
  margin-left: 30%;
  z-index: 1039; // modal-backdrop is 1040

  #sidebar-toggle {
    position: absolute;
    left: -32px;
    top: 50%;
    width: 32px;
    height: 144px;
    margin-top: -72px;
    background-color: rgba(0, 0, 0, .9);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    cursor: pointer;

    #sidebar-toggle-text {
      display: block;
      position: absolute;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      margin-top: -48px;
      top: 50%;
      cursor: pointer;
      white-space: nowrap;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }
  }

  #sidebar-content {
    padding: 8px;
  }
}

#console {
  position: fixed;
  left: 0;
  right: 0;
  top: 70%;
  height: 30%;
  margin-top: 30%;
  z-index: 1039; // modal-backdrop is 1040

  #console-toggle {
    position: absolute;
    top: -32px;
    left: 50%;
    height: 32px;
    width: 168px;
    margin-left: -84px;
    background-color: rgba(0, 0, 0, .9);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    cursor: pointer;

    #console-toggle-text {
      display: block;
      position: absolute;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      height: 20px;
      margin-top: -9px;
      top: 50%;
      cursor: pointer;
    }
  }

  #console-container {
    overflow: auto;
    max-height: 100%;
  }

  #console-content {
    padding: 10px 0;
    max-height: 100%;

    .line {
      font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", 
        "Bitstream Vera Sans Mono", "Courier New", monospace;
      white-space: pre;
      font-size: 14px;
      line-height: 17px;
    }

    input[type='text'] {
      border: none;
      outline: none;
      box-shadow: none;
      color: #5ab7dd;
      padding: 0 0;
      margin: -2px 0 0 0;
      background-color: rgba(255, 255, 255, 0.2);
      font-family: Menlo, Monaco, Consolas, "DejaVu Sans Mono", 
        "Bitstream Vera Sans Mono", "Courier New", monospace;
    }

    .text-info {
      padding: 0;
    }

    .line.error {
      color: red;
    }
  }
}

.outcomes-header {
  margin-bottom: 6px;
}

.score-label {
  vertical-align: middle;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}
