$leftbarwidth: 120px;
$topbarheight: 40px;
$nav-bg-color: #222;
$nav-color: #eee;

$nav-color-blue:   rgb(30, 163, 255);
$nav-color-red:    rgb(167, 0, 13);
$nav-color-green:  rgb(20, 152, 46);
$nav-color-purple: #8200a5;
$nav-color-orange: #f64e19;
$nav-color-teal:   #17b8b6;
$nav-color-gold:   rgb(250, 192, 0);
$nav-color-gray:   rgb(83, 83, 83);

$impersonation-color-bright: lighten(rgb(167, 0, 13), 5%);
$impersonation-color-dark: darken(rgb(167, 0, 13), 5%);

// Mixin to create stylish left-nav links.
@mixin nav-link($color) {
  & > a {
    border-top-color: $color;
  }

  &.dropdown.open > a, &.active {
    background: $color;
  }

  & > a:hover {
    background: $color;
  }
}

body {
  padding-bottom: 40px;
}

body.setup {
  padding-top: 60px;
}

body.landing {
  padding-top: 0;
}

.jumbo-title {
  color: white;

  padding: 50px 0;
  margin-bottom: 20px;
  background-image: url(/assets/landing-header-bg.png);
  background-color: black;
  background-repeat: no-repeat;

  h1 {
    font-size: 72px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

    small {
      color: #ccc;
      font-weight: 300;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    }
  }

  p.lead {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .jumbo-title {
    padding: 25px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  #flashbar {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 480px) {
  .jumbo-title {
    h1 { font-size: 40px; line-height: 28px; }
    p.lead { font-size: 16px; }
  }
}

.close {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

form.form-bordered {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding-top: 25px;

  .form-actions {
    margin-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

form.form-basic {
  margin: 0;
}

#flashbar {
  .flash {
    margin-top: -22px;
    margin-bottom: 22px;

    .container {
      padding: 15px;
    }
  }
  .flash-error {
    background-color: $nav-color-red;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  .flash-notice {
    background-color: $nav-color-green;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  .flash-alert {
    background-color: $nav-color-gold;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  }
}

// Top navbar styling
.navbar {
  .brand {
    color: rgb(232, 255, 216);
    font-weight: 600;
    font-size: 24px;
    padding: 8px 20px 8px 20px;
  }

  .navbar-inner {
    min-height: 38px;
    background: #141414;
    background: -moz-linear-gradient(top,#2c2c2c 0,#121212 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c2c2c),color-stop(100%,#121212));
    background: -webkit-linear-gradient(top,#2c2c2c 0,#121212 100%);
    background: -o-linear-gradient(top,#2c2c2c 0,#121212 100%);
    background: -ms-linear-gradient(top,#2c2c2c 0,#121212 100%);
    background: linear-gradient(top,#2c2c2c 0,#121212 100%);
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .nav > li {
    background: #2c2c2c;
    background: -moz-linear-gradient(top,#383838 0,#212121 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#383838),color-stop(100%,#212121));
    background: -webkit-linear-gradient(top,#383838 0,#212121 100%);
    background: -o-linear-gradient(top,#383838 0,#212121 100%);
    background: -ms-linear-gradient(top,#383838 0,#212121 100%);
    background: linear-gradient(top,#383838 0,#212121 100%);
    border-right: 1px solid #2c2c2c;
    margin: 0 -1px 0 1px;
    padding: 0 1px;
    position: relative;
    float: left;

    &.nav-courses  { @include nav-link($nav-color-green); }
    &.nav-scratchpad { @include nav-link($nav-color-gold); }
    &.nav-book     { @include nav-link($nav-color-blue); }
    &.nav-grades   { @include nav-link($nav-color-red); }
    &.nav-settings { @include nav-link($nav-color-purple); }
    &.nav-user     {
      @include nav-link($nav-color-orange);

      & > a {
        padding-top: 2px;
        padding-bottom: 3px;

        & > img {
          margin-right: 4px;
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }

        & > span, & > i {
          line-height: 30px;
          vertical-align: middle;
        }
      }

      & > a.impersonation {
        border-top-color: lighten($nav-color-red, 10%);
        background: $nav-color-red;
      }
    }
    &.nav-logout   { @include nav-link($nav-color-red); }

    & > a {
      background: #141414;
      background: -moz-linear-gradient(top,#2c2c2c 0,#121212 100%);
      background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c2c2c),color-stop(100%,#121212));
      background: -webkit-linear-gradient(top,#2c2c2c 0,#121212 100%);
      background: -o-linear-gradient(top,#2c2c2c 0,#121212 100%);
      background: -ms-linear-gradient(top,#2c2c2c 0,#121212 100%);
      background: linear-gradient(top,#2c2c2c 0,#121212 100%);
      -webkit-transition: background 0.25s;
      -moz-transition: background 0.25s;
      -ms-transition: background 0.25s;
      -o-transition: background 0.25s;
      transition: background 0.25s;
      color: #fff;
      float: left;
      outline: 0;
      margin: 0 -1px 0 -1px;
      padding: 7px 16px 8px 12px;
      display: block;
      text-transform: uppercase;
      text-shadow: 0 1px 0px #222;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: #2c2c2c;
    }
  }
}

body.impersonation .navbar-inner {
  background: $nav-color-red;
  background: -moz-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$impersonation-color-bright),color-stop(100%,$impersonation-color-dark));
  background: -webkit-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
  background: -o-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
  background: -ms-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
  background: linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);

  .nav > li {
    background: $nav-color-red;
    background: -moz-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$impersonation-color-bright),color-stop(100%,$impersonation-color-dark));
    background: -webkit-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    background: -o-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    background: -ms-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    background: linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    border-right: 1px solid $impersonation-color-dark;

    & > a {
      background: $nav-color-red;
      background: -moz-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
      background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,$impersonation-color-bright),color-stop(100%,$impersonation-color-dark));
      background: -webkit-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
      background: -o-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
      background: -ms-linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
      background: linear-gradient(top,$impersonation-color-bright 0,$impersonation-color-dark 100%);
    }
  }
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -5px 8px 5px rgba(0, 0, 0, 0.7);
}

.navbar-inverse .divider-vertical {
  border: 0 none;
}

.navbar .divider-vertical {
  background: transparent url('/assets/navbar-separator.png') left center no-repeat;
  height: 38px;
  width: 2px;
  margin: 0;
  border: 0 none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.hang-tag.small {
  position: absolute;
  right: -13px;
  top: 6px;
  background-image: url(../assets/curl-blue-small.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  height: 34px;

  & > span {
    display: block;
    background-color: $nav-color-blue;
    height: 20px;
    font-size: 12px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    padding: 2px 4px 0 10px;
    margin-right: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.hang-tag.good {
  &.small  { background-image: url(../assets/curl-green-small.png); }
  & > span { background-color: $nav-color-green; }
}

.hang-tag.caution {
  &.small  { background-image: url(../assets/curl-yellow-small.png); }
  & > span { background-color: $nav-color-gold; }
}

.hang-tag.danger {
  &.small  { background-image: url(../assets/curl-red-small.png); }
  & > span { background-color: $nav-color-red; }
}

.hang-tag.neutral {
  &.small  { background-image: url(../assets/curl-gray-small.png); }
  & > span { background-color: $nav-color-gray; }
}

img.gravatar {
  margin-right: 4px;
}

table td.has_gravatar {
  position: relative;
}

table.table-condensed td.has_gravatar {
  position: relative;
}

.header-buttons {
  margin-top: 10px;
}

form.form-search.breadcrumb-hang {
  margin-top: 2px;
}

form.form-search.breadcrumb-hang button[type="submit"] {
  font-size: 17px;
  padding-left: 9px;
}

.query-highlight {
  background-color: #ff8;
}

table.table.table-bare {
  td {
    padding: 2px 0;
    border: none;
  }
}

table.table .progress {
  margin-bottom: 0;
}

h1.slim, h2.slim, h3.slim, h4.slim, h5.slim, h6.slim {
  margin: 0;
}

h3.btn-line-height {
  line-height: 30px;
  margin-bottom: 4px;
}

.btn-header-container {
  margin: 10px 0;
}

span.btn-aligned {
  line-height: 30px;
  margin-right: 6px;
  vertical-align: middle;
  display: inline-block;
}

a[data-toggle='collapse'] i.icon-chevron-right {
  font-size: 18px;
  margin-left: 4px;
  margin-right: 4px;
  color: #333;
}

a[data-toggle='collapse'] i.icon-chevron-right::before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

a[data-toggle='collapse'].collapsed i.icon-chevron-right::before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.modal-body.has-typeahead {
   overflow: visible
}

.padded-top {
  margin-top: 10px;
}

ul.gravatar-list {
  margin: 0;

  li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0 1px 1px 0;

    &.indicator:after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      width: 5px;
      height: 5px;
      border-left: 1px solid white;
      border-top: 1px solid white;
    }

    &.indicator.manager:after {
      background: $nav-color-green;
    }

    &.indicator.unsynched:after {
      background: $nav-color-gold;
    }

    a {
      display: inline-block;
    }

    img.gravatar {
      display: inline-block;
      margin-right: 0;
    }
  }
}

.loading-widget {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  color: #666;

  .icon-spinner {
    display: block;
    font-size: 96px;
    margin-bottom: 8px;
  }

  &:after {
    content: 'Loading...';
    font-weight: 300;
    font-size: 22px;
  }
}


.CodeMirror {
  line-height: 16px;
}

.CodeMirror-linenumber {
  padding-top: 1px;
  font-size: 11px;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #ffff99;
}

// This would be better in upload_roster.css.scss, but since the
// upload roster controller is invoked via Ajax, the styles would
// never get loaded.

#roster-preview-wrapper {
  width: 100%;
  overflow: auto;
}

#roster-preview thead select {
  width: auto;
  margin-bottom: 0;
}

#roster-preview tbody td {
  width: 8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}


// Styles used in the check outcomes modal.

.score-label {
  vertical-align: middle;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
}

table td p.hint {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}


#Sk-canvasModal {
  width: auto;

  .modal-header {
    cursor: move;
  }

  .modal-footer {
    form.form-inline {
      margin-bottom: 0;
    }

    label {
      margin: 0 5px 0 0;
      line-height: 30px;
      vertical-align: middle;
    }
    
    label[for="canvas-y"] {
      margin-left: 10px;
    }

    td {
      line-height: 30px;
      vertical-align: middle;
    }

    td.canvas-color-label {
      padding: 0 5px 0 15px;
    }

    td#canvas-red {
      font-weight: 600;
      color: $nav-color-red;
      text-align: center;
      width: 2em;
    }
    
    td#canvas-green {
      font-weight: 600;
      color: $nav-color-green;
      text-align: center;
      width: 2em;
    }

    td#canvas-blue {
      font-weight: 600;
      color: $nav-color-blue;
      text-align: center;
      width: 2em;
      padding-right: 15px;
    }

    td#canvas-color-swatch {
      width: 30px;
      border: 1px solid #333;
      background-color: rgb(0,0,0);
    }
  }
}

// Styles used in the media library.

.media-area {
  height: 300px;
  overflow: auto;
  border: 1px solid #e5e5e5;
  padding: 20px;

  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);

  .media-section .section-title {
    font-weight: 600;
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }

  li.media .media-actions {
    display: none;
  }

  li.media:hover .media-actions {
    display: block;
  }

  i.media-object {
    vertical-align: middle;
    font-size: 64px;
    line-height: 64px;
    height: 64px;
    width: 64px;
  }
}

.filter-list {
  //width: 228px;
  margin: 0 0 10px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.filter-list > li > a {
  display: block;
  //width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.filter-list > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.filter-list > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.filter-list > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.filter-list .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.filter-list > li > a:hover {
  background-color: #f5f5f5;
}
.filter-list a:hover .icon-chevron-right {
  opacity: .5;
}
.filter-list .active .icon-chevron-right,
.filter-list .active a:hover .icon-chevron-right {
  opacity: 1;
}

@mixin chevron($color, $angle) {
  & {
    position: relative;
    text-align: center;
    padding: 2px;
    margin-bottom: 0px;
    height: 0px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: $color;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: skew(0deg, $angle);
    -moz-transform: skew(0deg, $angle);
    -ms-transform: skew(0deg, $angle);
    -o-transform: skew(0deg, $angle);
    transform: skew(0deg, $angle);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: $color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-transform: skew(0deg, -$angle);
    -moz-transform: skew(0deg, -$angle);
    -ms-transform: skew(0deg, -$angle);
    -o-transform: skew(0deg, -$angle);
    transform: skew(0deg, -$angle);
  }
}

.dock-chevron {
  &.down { @include chevron(#eee, 10deg); }
  &.up   { @include chevron(#eee, -10deg); }
}
