// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.home {
  padding-top: 38px;
}

@media (max-width: 979px) {
  body.home {
    padding-top: 0;
  }
}

$assignment-tile-height: 80px;
$assignment-title-height: 45px;
$assignment-options-height: $assignment-tile-height - $assignment-title-height - 1;
$assignment-score-width: 64px;

.assignment-tile-wrapper {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.15);
  height: $assignment-tile-height;
}

.assignment-tile-wrapper:hover {
  & > .assignment-tile.back {
    opacity: 1;
  }
}

.assignment-tile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.assignment-tile.front {
  text-align: left;
  margin: 0px;

  .assignment-short-name {
    position: absolute;
    top: 0;
    height: $assignment-title-height;
    line-height: $assignment-title-height;
    padding: 0 6px;
    color: #222;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .assignment-long-name {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 6px;
    top: $assignment-title-height;
    height: $assignment-options-height;
    line-height: $assignment-options-height;
    background-color: #f4f4f8;
    border-top: 1px solid #ddd;
    vertical-align: middle;
    color: #666;
  }
}

.assignment-tile-wrapper.student .assignment-long-name {
  margin-left: $assignment-score-width;
}

.assignment-tile-wrapper.student .assignment-tile.back {
  margin-left: $assignment-score-width;
}

.assignment-tile-wrapper.student .assignment-score {
  position: absolute;
  top: $assignment-title-height;
  width: $assignment-score-width;
  height: $assignment-options-height;
  line-height: $assignment-options-height;
  background-color: #f4f4f8;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  color: #222;
  font-weight: 600;
  font-size: 20px;
  text-align: center;

  &.score-danger {
    background-color: rgb(167, 0, 13);
    color: white;    
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  &.score-warning {
    background-color: rgb(250, 192, 0);
    color: white;    
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  &.score-good {
    background-color: rgb(20, 152, 46);
    color: white;    
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  &.score-none {
    background-color: rgb(83, 83, 83);
    color: white;    
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
}

.assignment-tile.back {
  position: absolute;
  opacity: 0;
  top: $assignment-title-height;
  height: $assignment-options-height;
  line-height: $assignment-options-height;
  background-color: #f4f4f8;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  color: #222;

  a {
    display: inline-block;
    height: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid white;
    text-align: center;
    padding: 0 8px;

    &:first-child { border-left-color: #f4f4f8; }
    &:last-child { border-right-color: #f4f4f8; }
    &:hover {
      background-color: rgb(30, 168, 255);
      text-decoration: none;
      color: white;
      text-shadow: 0 1px #222;
      border-left: 1px solid rgb(30, 168, 255);
    }
  }
}

table.examples {
  td:first-child {
    width: 100%;
  }
  td:nth-child(2) {
    white-space: nowrap;
    color: #888;
    text-align: right;
  }
}