#flashbar
  - [:notice, :alert, :error].each do |level|
    - unless flash[level].blank?
      .flash{ class: flash_class(level) }
        .container
          .row
            = close_button_tag dismiss: 'flash'
            %span{ class: "tag-#{level.to_s}" }
            = flash[level]
