.pull-right
  = link_to icon_tag('pencil') + ' Edit', edit_system_configuration_path(@system_configuration), class: 'btn'

%table.table.table-bordered.table-striped
  %tr
    %th Storage path
    %td
      %tt= @system_configuration.storage_path
  %tr
    %th Working area
    %td
      %tt= @system_configuration.work_path
