<p id="notice"><%= notice %></p>

<p>
  <b>Storage path:</b>
  <%= @system_configuration.storage_path %>
</p>


<%= link_to 'Edit', edit_system_configuration_path(@system_configuration) %> |
<%= link_to 'Back', system_configurations_path %>
